#.root {
#    -fx-base: rgb(50, 50, 50);
#    -fx-background: rgb(50, 50, 50);
#    -fx-control-inner-background:  rgb(50, 50, 50);
#}

.field-error {
 -fx-control-inner-background:  #ffc2c2;
 -fx-background:   #ffc2c2;
 -fx-background-color:   #ffc2c2;
}
.field-disable {
 -fx-control-inner-background:  #ffc2c2;
 -fx-background:   #ccc;
 -fx-background-color:   #ccc;
 -fx-width: 0;
 -fx-color: #ccc;

}

.main-toolbar-btn {
 -fx-cursor: hand;
 -fx-font-weight: bold;
}

.main-toolbar-btn *{
 -fx-font-weight: normal;
}

.selected-Button {
 -fx-background-color:   #C8C8C8;
}